# Arquivos locais do ambiente de desenvolvimento
local.properties

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
build/

# Android / app
app/build/
captures/
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml
.DS_Store